%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%table

- @categories.each do |category|
    %h2= category.title
    - @dishes.each do |dish|
        %p= category.dish.name
        %p= category.dish.description
        %p= category.dish.price

%p 
    = link_to 'Order', root_path


